 body {
 	background-color:#ABC4AA;
 }

 h1 {
 	color: black;
 	text-align: center;
 	background-color:#ADC4CE ;
 }
 h2{
 		color: #ECF8F9;
 		text-align:left;
 		font-size: 30px;

 }

 p {
 	font-family: verdana;
 	font-size: 120px
 }
  
